.DS_Store
Thumbs.db
.idea
*.iws
*.iml
*.ipr
.*/
__pycache__/
*.pyc
target/
build/
dist/
private/
output/
*.gcno
*.gcda
*.macrocall
cangjie-repo.toml
_publish_.bat
*.log
!three.utils.log
*.dmp
*.lock
*.drawio.bkp
libs/*.a
libs/*.so
libs/*.dll
libs/*.lib
/*.exe
*.onnx
*-lock.json5
_reference
openspec/